@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  @font-face {
      font-family: "Inter";
      src: url("../public/fonts/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
      font-family: "InterSemibold";
      src: url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
  }
  @font-face {
      font-family: "InterMedium";
      src: url("../public/fonts/Inter-Medium.ttf") format("truetype");
  }
  @font-face {
      font-family: "InterBold";
      src: url("../public/fonts/Inter-Bold.ttf") format("truetype");
  }
}
@layer components{
  .community__icon{
    @apply bg-tint-500 w-12 h-12 rounded-tl-2xl rounded-tr rounded-bl rounded-br-lg relative
  }
  .community__icon img{
    @apply absolute -left-4
  }
}
@layer utilities{
  .flex-center{
    @apply flex items-center justify-center
  }
}